









@*CURRENTLY NOT IN USE*@











<div class="modal fade" id="confirmPostDeletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Warning! All associated comments will be removed.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <form method="post" action="replace">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit post...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="add-category-main">
                    <form method="post" action="this_should_be_replaced">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input id="post-content-input" style="width: 97%;" class="transparent-form" name="Content" placeholder="Content" />
                        </div>

                        <div class="form-group">
                            <input id="post-image-input" class="transparent-form" name="Image_url" placeholder="Image URL" />
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button style="" class="btn btn-success" type="submit">Edit post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Deal with opening the deletion modal of each post
        $('#confirmPostDeletion').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)             // Button that triggered the modal
            var categoryId = button.data('category-id')     // Extract info from data-* attributes


            $('#confirmPostDeletion form').get(0).setAttribute('action', '/Posts/Delete/' + categoryId);
        })

        // Deal with opening the edit modal of each post
        $('#editPost').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)             // Button that triggered the modal
            var postId = button.data('post-id')             // Extract info from data-* attributes
            var content = button.data('content')
            var imageUrl = button.data('image')


            $('#editPost .modal-title').html('Edit post with id ' + postId)
            $('#editPost form').get(0).setAttribute('action', '/Posts/Edit/' + postId);

            $('#post-content-input').get(0).setAttribute('value', content)
            $('#post-image-input').get(0).setAttribute('value', imageUrl)
        })
    </script>
}
