/* -- ROOT -- */

body, html {
    height: 100%;
    /*background-color: #0cbaba;*/
    /*background-image: linear-gradient(155deg, #0cbaba 0%, #380036 99%);*/
    background-color: #055062;
    margin: 0;
    /*overflow-y: hidden;*/
}

.body-content {
    padding-left: 0;
    padding-right: 0;
    height: 92vh;
}

.dl-horizontal dt {
    white-space: normal;
}

/* -- HOLDERS AND HELPERS -- */

.align-middle-horizontal {
    margin-left: auto !important;
    margin-right: auto !important;
}

.align-middle-vertically {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.my3p10 {
    width: 30% !important;
}

.debug-border {
    border: 1px dotted green !important;
}

.debug-border2 {
    border: 2px solid red !important;
}

.debug-border3 {
    border: 3px dotted blue !important;
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* -- RANDOM -- */

.checkbox {
    margin: 0 44%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #008DBD;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}

/* -- FLOATING BUTTON -- */

.floatingButton {
    width: 100px;
    height: 100px;
    background-color: #123851;
    border-radius: 50px;
    margin: auto 20px 20px auto;
    border: 2px solid #00898d !important;
}

    .floatingButton:hover {
        background-color: #223055;
    }

    .floatingButton img {
        width: 80px;
        height: 80px;
        margin: 10px 0 0 10px;
    }

    .floatingButton p {
        font-weight: 500;
        color: white;
        text-align: center;
        margin-top: 35px;
    }

/* -- PARTIAL CATEGORY -- */

.add-category {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    border: solid 2px #046c77;
    border-radius: 25px;
}

#profile-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 5px 0 auto 25px;
}

.add-category-main {
    margin: 0 0 0 30px;
    width: 100%;
}

    .add-category-main form {
        
    }

    .add-category-main .btn {
        margin: 0 0 2px auto;
        border-width: 0 1px 2px 1px;
        border-color: #046c77;
        background: #75caeb;
    }

.transparent-form, .transparent-form:active, .transparent-form:visited, .transparent-form:hover {
    all: unset;
    border-bottom: solid 1px #046c77;
}


.category {
    display: flex;
    margin: 0.5rem 0 0 0;
    border-radius: 25px;
    border: solid 2px #046c77;
    width: 100%;
    min-height: 100px;
    background-color: #b3cdd1;
}

    .category:hover {
        background-image: linear-gradient(145deg, #b3cdd1 0%, #9fa4c4 99%);
    }

#category-image {
    margin: 5px 0 0 5px;
    border-radius: 20px;
    height: 90px;
    width: 90px;
}


.category-header {
    white-space: nowrap;
    height: 33%;
    width: 100%;
}

.category-main {
    margin: 0 auto 0 auto;
    padding: 0 1.7rem 0 .5rem;
    height: 100px;
    width: 90%;
}

.category-content {
    /*overflow-y: hidden;*/
    height: 43%;
    width: 100%;
}

    .category-footer {
        display: flex;
        /*justify-content: space-between;*/
        height: 23%;
        width: 100%;
    }
        .category-footer div:nth-child(2) {
            /* Fix cuz space-between ain't working */
            margin-right: auto;
            /*background-color: red;*/
        }

    .category-footer img {
        height: 10px;
        width: 10px;
        margin-right: 3px;
    }

/* -- PARTIAL POST -- */
.post {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    background-color: #111B22;
    border-radius: 10px;
}

    .post .post-main-left {
        width: 10%;
    }

        .post .post-main-left img {
            height: 50px;
            width: 50px;
            margin: 5% 28%;
        }

    .post-main-right {
        width: 90%;
    }

    .post-header {
        width: 100%;
        min-height: 60px;
        height: 10%;
        display: flex;
        justify-content: space-between;
}

       .post-header-left {
            display: flex;
            width: 45%;
            height: 100%;
            overflow-y: hidden;
        }

        .post-header-left p {
            font-size: xx-large;
            margin: auto 0 auto 1%;
            color: white;
        }

        .post-header-right {
            display: flex;
            width: 19%;
            height: 100%;
        }

        .post-header-right {
            background-color: none !important;
        }

        .post-header-right p {
            margin: auto 10% auto 10%;
            font-size: xx-large;
            color: white;
        }


    .post-main-right .post-content {
        width: 100%;
        display: flex;
    }

    .post-content img {
        max-height: 300px;
        max-width: 300px;
    }

    .post-content p {
        font-size: x-large;
        color: white;
        margin-left: 1%;
    }


    .post-main-right .post-footer {
        min-height: 24px;
        width: 100%;
        height: 10%
    }      