@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">The site is under construction yet! Some features may not be working yet!</p>
</div>

<div class="row justify-content-between">
    <div class="alert alert-dismissible alert-danger col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Roles have to be implemented.</p>
    </div>

    <div class="alert alert-dismissible alert-success col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Categories fully working with modals instead of new page.</p>
    </div>

    <div class="alert alert-dismissible alert-secondary col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>How do I build a many2many connetion?</p>
    </div>
</div>

<div class="row justify-content-between">

    <div class="alert alert-dismissible alert-danger col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Posts gonna be fully completed after creating modals for CRUD.</p>
    </div>

    <div class="alert alert-dismissible alert-success col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Posts gonna be fully completed after creating modals for CRUD.</p>
    </div>

    <div class="alert alert-dismissible alert-secondary col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Search have to be implemented and I don't really know how. Except the basic key == value...</p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="alert alert-dismissible alert-danger col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Personal profile have to be created.</p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="alert alert-dismissible alert-danger col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Comments for each post have to be added.</p>
    </div>

    <div class="alert alert-dismissible alert-secondary col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Reminder: Partial view for something more... complex. Modals with JS/jQuery</p>
    </div>
</div>

<div class="row justify-content-between">

    <div class="alert alert-dismissible alert-secondary col-md-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>How do I remove the constraint on some user's field. UserName</p>
    </div>
</div>
